table, th, td {
    border: 0.5px solid black;
    
}

.results-display {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    justify-items: center;
    text-align: center;
}

.game-result {
    margin: auto;
    text-align: center;
}

.table-container{
    margin: auto;
}

.center-table-container{
    margin: auto;
    text-align: center;
}


.endgame-button-container{
    margin: auto;
}

.button{
    margin: auto;
}